<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min(1).css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>管理员管理<small>权限项管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>管理员管理</el-breadcrumb-item>
                    <el-breadcrumb-item>权限项管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="项目编码/项目名称" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                        <el-button @click="query()" class="dalfBut">查询</el-button>
                        <el-button type="primary"  v-if="checkItem.new" class="butT" @click="handleCreate()">新建</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="code" label="项目编码" align="center"></el-table-column>
                        <el-table-column prop="name" label="项目名称" align="center"></el-table-column>
                        <el-table-column prop="keyword" label="关键词" align="center"></el-table-column>
                        <el-table-column prop="remark" label="项目说明" align="center"></el-table-column>
                        <el-table-column v-if="option" label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" v-if="checkItem.edit" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                                <el-button size="mini" v-if="checkItem.delete" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="新增权限项" :visible.sync="dialogFormVisible">
                            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="项目编码" prop="code">
                                            <el-input v-model="formData.code"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="项目名称" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="关键词名称" prop="keyword">
                                            <el-input v-model="formData.keyword"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="权限说明">
                                            <el-input v-model="formData.remark" type="textarea"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="编辑检查项" :visible.sync="dialogFormVisible4Edit">
                            <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="项目编码" prop="code">
                                            <el-input v-model="formData.code"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="项目名称" prop="name">
                                            <el-input v-model="formData.name"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="关键词名称" prop="keyword">
                                            <el-input v-model="formData.keyword"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="权限说明">
                                            <el-input v-model="formData.remark" type="textarea"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                pagination: {//分页相关模型数据
					  currentPage: 1,//当前页码
					  pageSize:10,//每页显示的记录数
					  total:0,//总记录数
					  queryString:null//查询条件
				},
				dataList: [],//当前页要展示的分页列表数据
                formData: {},//表单数据
                dialogFormVisible: false,//增加表单是否可见
                dialogFormVisible4Edit:false,//编辑表单是否可见
                rules: {//校验规则
                    code: [{ required: true, message: '项目编码为必填项', trigger: 'blur' }],
                    name: [{ required: true, message: '项目名称为必填项', trigger: 'blur' }]
                },
                checkItem :{
                    "edit":false,
                    "delete":false,
                    "new":false
                },
                option:true
            },
            //钩子函数，VUE对象初始化完成后自动执行
            created() {
             this.findPage(); //页面加载完成后进行分页查询
                axios.get("/user/CheckItem.do").then((res)=>{
                    this.checkItem = res.data;
                    if(!res.data.edit && !res.data.delte){
                        this.option = false;
                    }
                })
            },
            methods: {
                //查询
                query(){
                    this.pagination.currentPage = 1;
                    this.findPage();
                },
                //编辑
                handleEdit() {
                    //编辑检查项数据，进行异步数据的提交，发送一个异步请求。进行数据的编辑
                    //进行表单校验，当判断成功时发送异步请求，否则提醒用户编辑失败
                    this.$refs['dataEditForm'].validate((valid)=>{
                        //当校验成功时发送异步请求
                        if(valid){
                            //隐藏编辑表单
                            this.dialogFormVisible4Edit=false;
                            axios.post("/checkItem/editCheckItem.do",this.formData).then((res)=>{
                                //编辑成功，提示用户
                                if(res.data.flag){
                                    //前台接收后台响应过的编辑成功信息
                                    this.$message({
                                        message:res.data.message,
                                        type:'success'
                                    })
                                }else{
                                    //前台接收回头响应的编辑失败信息
                                    this.$message.error(this.data.message)
                                }
                            //   当请求发送完成后进行数据查询
                            }).finally(()=>{
                                this.findPage();
                            })
                        }else {
                            //提示用户数据编辑失败
                            this.$message.error("编辑失败");
                        }
                    })
                },
                //添加
                handleAdd () {
                    //添加用户,进行表单校验，如果校验单结果正确，则发送异步请求，如果校验错误则不进行数据的发送。
                    this.$refs['dataAddForm'].validate((valid) =>{
                        if(valid){
                            this.dialogFormVisible = false;
                            axios.post("/checkItem/add.do",this.formData).then((res)=>{
                                if(res.data.flag){
                                    this.$message({
                                        message : res.data.message,
                                        type:'success'
                                        }
                                    )
                                }else{
                                    this.$message.error(res.data.message)
                                }
                            }).finally(()=>{
                                this.findPage(); //用户添加数据完成后进行分页查询
                            })
                        }
                    })
                },
                //分页查询
                findPage() {
                    if(this.pagination.queryString==""){
                        this.pagination.queryString = null;
                    }
                    //定义分页参数
                    var params = {
                        currentPage:this.pagination.currentPage ,//定义当前页码数
                        pageSize:this.pagination.pageSize,//定义每页显示的条数
                        queryString:this.pagination.queryString //定义查询的条件
                    };

                    axios.post("/checkItem/findPage.do",params).then((res)=>{
                        this.dataList = res.data.rows;//返回检查项的集合数据
                        this.pagination.total = res.data.total;//返回总页数
                    })
                },
                // 重置表单
                resetForm() {
                    this. formData={};//重新设置表单数据
                    this.$refs['dataAddForm'].resetFields(); //重置新建校验项
                    this.$refs['dataEditForm'].resetFields();//重置编辑项的校验
                },
                // 弹出添加窗口
                handleCreate() {
                    this.dialogFormVisible = true;//设置新增窗口
                    this.resetForm();
                },
                // 弹出编辑窗口
                handleUpdate(row) {
                    // //点击编辑窗口，弹出编辑窗口，将窗口的数据模型改为true
                    // this.dialogFormVisible4Edit = true;
                    // //重置表单数据
                    // this.resetForm();
                    //逻辑性错误，当如果在发送异步请求之前，显示编辑窗口的话，就会存在显示了一个空窗口后，数据才进行回写，这样不符合逻辑
                    //当点击编辑窗口后，发送get异步请求，根据id查询当前数据，进行页面回写
                    axios.get("/checkItem/findByCheckItemId.do?id="+row.id).then((res)=>{
                        if(res.data.flag){
                            this.dialogFormVisible4Edit = true;
                            this.formData = res.data.data;
                        }else{
                            this.$message.error(this.data.message)
                        }
                    })
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    this.pagination.currentPage =currentPage; //改变当前的页码数
                    this.pagination.queryString = null;
                    this.findPage()
                },
                // 删除
                handleDelete(row) {
                // 删除检查项，提示用户是否进行删除操作
                    this.$confirm("您是否进行当前操作","提示").then(()=>{
                        //确定删除数据，采用get方式发送异步请求
                        axios.get("/checkItem/deleteCheckItem.do?id="+row.id).then((res)=>{
                            //从后台响应数据，删除数据成功
                            if(res.data.flag){
                                this.$message({
                                    //提示用户删除数据成功
                                    message:res.data.message,
                                    type:'success'
                                    })
                            }else{
                                //提示用户删除数据失败
                                this.$message.error(res.data.message)
                            }
                        }).finally(()=>{
                            //用户进行数据删除数据操作完成后，进行查询
                            this.findPage()
                            })
                    }).catch(()=> {
                        //提示用户操作删除数据失败
                        this.$message({
                            message: "操作失败",
                            type: 'info'
                        })
                    })
                }
            }
        })
    </script>
</html>